---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":172800}

        '
  recorded_at: Tue, 15 Dec 2020 09:45:05 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json
      Correlation-Id:
      - 03efcba5-bbcf-4451-bb12-3f20c38e36f3#38131666
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '397'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_CUSTOMER_ID>,"firstName":"","lastName":"","gender":"Unknown","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/08.png","createdAt":"2020-06-18T14:54:41Z","updatedAt":"2020-12-14T17:38:39Z","background":"","_embedded":{"emails":[{"id":465697159,"value":"jorge@hey.com","type":"work"}],"phones":[],"chats":[],"social_profiles":[],"websites":[],"properties":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/phones/"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/websites/"},"self":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"}}}'
  recorded_at: Tue, 15 Dec 2020 09:45:41 GMT
- request:
    method: put
    uri: https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/emails/465697159
    body:
      encoding: UTF-8
      string: '{"type":"work","value":"changedjorge@hey.com"}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: ''
    headers:
      Correlation-Id:
      - f883891e-f70b-47af-879f-a89cc774103a#33293114
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '395'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Dec 2020 09:45:41 GMT
[...]
