---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - caa9e666-fae6-40c6-bebd-bcac6578b13a#55249925
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_CUSTOMER_ID>,"firstName":"Vernon","lastName":"Bear","gender":"Male","jobTitle":"CEO
        and Co-Founder","location":"Greater Dallas/FT Worth Area","organization":"Acme,
        Inc","photoType":"twitter","photoUrl":"https://api.helpscout.net/img/some-avatar.jpg","age":"30-35","createdAt":"2019-05-23T18:25:46Z","updatedAt":"2019-05-23T19:07:53Z","background":"I''ve
        worked with Vernon before and he''s really great.","_embedded":{"emails":[{"id":347205119,"value":"<TEST_CUSTOMER_EMAIL>","type":"work"}],"websites":[],"chats":[],"phones":[],"social_profiles":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/websites/"}}}'
  recorded_at: Thu, 23 May 2019 19:11:12 GMT
recorded_with: VCR 4.0.0
