---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#50457469
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '384'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_CUSTOMER_ID>,"firstName":"Andre","lastName":"Leblanc","gender":"Male","jobTitle":"Software
        Engineer","location":"Clearwater, FL 33756, United States","organization":"TaxJar","photoType":"gravatar","photoUrl":"https://secure.gravatar.com/avatar/8319f019fc608e7b550ce4852077b396","createdAt":"2017-11-06T02:55:50Z","updatedAt":"2019-06-01T00:16:59Z","background":"","_embedded":{"emails":[{"id":199681969,"value":"<TEST_CUSTOMER_EMAIL>","type":"work"}],"websites":[{"id":217623410,"value":"http://www.blancblog.co"},{"id":233272925,"value":"http://BruiserConversions.com"}],"chats":[],"phones":[],"social_profiles":[{"id":217623408,"value":"https://www.linkedin.com/in/andremleblanc","type":"linkedin"},{"id":217623409,"value":"https://twitter.com/BruiserCustoms","type":"twitter"},{"id":290382267,"value":"https://www.flickr.com/people/33510707@N02","type":"flickr"}]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/websites/"}}}'
  recorded_at: Sat, 01 Jun 2019 00:17:09 GMT
recorded_with: VCR 5.0.0
