---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#50457517
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '383'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"customers":[{"id":259883801,"firstName":"Andrew","lastName":"Schlichting","gender":"Male","location":"Bellingham,
        WA","photoType":"twitter","photoUrl":"https://img.fullcontact.com/static/f548a15610aa17fa79c2a683682a4979_3dd779f8482602c0c26345002642f0c3b5f70f56e1937a466b2d9db8a03f4c61","createdAt":"2019-05-31T23:05:42Z","updatedAt":"2019-05-31T23:05:43Z","background":"","_embedded":{"emails":[{"id":349609560,"value":"andrew@hardwaresales.com","type":"work"}],"websites":[{"id":349609564,"value":"http://hardwaresales.com"}],"chats":[],"phones":[],"social_profiles":[{"id":349609563,"value":"https://twitter.com/hardwaresales","type":"twitter"},{"id":349609562,"value":"https://www.facebook.com/hardware.sales","type":"facebook"}]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/259883801/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/259883801/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/259883801/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/259883801/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/259883801"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/259883801/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/259883801/websites/"}}},{"id":259870123,"firstName":"","lastName":"","gender":"Unknown","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/06.png","createdAt":"2019-05-31T21:28:07Z","updatedAt":"2019-05-31T21:28:07Z","background":"","_embedded":{"emails":[{"id":349590914,"value":"jsinc.edward@gmail.com","type":"work"}],"websi[...]
