---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - caa9e666-fae6-40c6-bebd-bcac6578b13a#55200550
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '398'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"customers":[{"id":<TEST_CUSTOMER_ID>,"firstName":"Vernon","lastName":"Bear","gender":"Male","jobTitle":"CEO
        and Co-Founder","location":"Greater Dallas/FT Worth Area","organization":"Acme,
        Inc","photoType":"twitter","photoUrl":"https://api.helpscout.net/img/some-avatar.jpg","age":"30-35","createdAt":"2019-05-23T18:25:46Z","updatedAt":"2019-05-23T18:25:46Z","background":"I''ve
        worked with Vernon before and he''s really great.","_embedded":{"emails":[{"id":347205119,"value":"<TEST_CUSTOMER_EMAIL>","type":"work"}],"websites":[],"chats":[],"phones":[],"social_profiles":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>/websites/"}}},{"id":257892316,"firstName":"The
        G Suite","lastName":"Team","gender":"Unknown","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/06.png","createdAt":"2019-05-23T03:34:21Z","updatedAt":"2019-05-23T03:34:21Z","background":"","_embedded":{"emails":[{"id":346998736,"value":"gsuite-noreply@google.com","type":"work"}],"websites":[],"chats":[],"phones":[],"social_profiles":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/257892316/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/257892316/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/257892316/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/257892316/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/257892316"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/257892316/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/257892316/websites/"}}}]},"_links":{"first":{"href":"https://api.helpscout.net/v2/customers/?page=1"},"last":{"href":"https://api.helpscout.net/v2/customers/?page=1"},"page":{"href":"https://api.helpscout.net/v2/customers/"},"self":{"href":"https://api.helpscout.net/v2/customers/"}},"page":{"size":50,"totalElements":5,"totalPages":1,"number":1}}'
  recorded_at: Thu, 23 May 2019 18:28:23 GMT
recorded_with: VCR 4.0.0
