---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#49445042
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '395'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"customers":[{"id":259692957,"firstName":"","lastName":"","gender":"Unknown","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","createdAt":"2019-05-31T04:43:11Z","updatedAt":"2019-05-31T04:43:11Z","background":"","_embedded":{"emails":[{"id":349356525,"value":"controller@vushats.com","type":"work"}],"websites":[],"chats":[],"phones":[],"social_profiles":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/259692957/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/259692957/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/259692957/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/259692957/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/259692957"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/259692957/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/259692957/websites/"}}},{"id":259671474,"firstName":"","lastName":"","gender":"Male","jobTitle":"Co-founder","organization":"Joe´s
        Blogg","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/06.png","createdAt":"2019-05-31T01:37:34Z","updatedAt":"2019-05-31T01:37:34Z","background":"","_embedded":{"emails":[{"id":349328586,"value":"jpardof2@gmail.com","type":"work"}],"websites":[],"chats":[],"phones":[],"social_profiles":[{"id":349328589,"value":"https://www.linkedin.com/in/juan-david-pardo-florez-51664371","type":"linkedin"}]},"_links":{"address":{"href":"https://api.helpsco[...]
