---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

        '
  recorded_at: Sun, 02 Jun 2019 13:47:32 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#2543305
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '375'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"customers":[{"id":260118404,"firstName":"Greg","lastName":"Howlett","gender":"Male","jobTitle":"Chief
        Executive Officer","location":"monroe, GA, United States of America","organization":"Greg
        Howlett Productions","photoType":"twitter","photoUrl":"https://img.fullcontact.com/static/265a84157b7d6bda6ea25169137a1a09_470eee255a3cb7fce5ba0674bbe1340ae9470e030358d4fc61568df91168a857","createdAt":"2019-06-02T13:46:20Z","updatedAt":"2019-06-02T13:46:21Z","background":"","_embedded":{"emails":[{"id":349911250,"value":"greghowlett@gmail.com","type":"work"}],"websites":[{"id":349911256,"value":"http://www.greghowlett.com"}],"chats":[],"phones":[],"social_profiles":[{"id":349911252,"value":"https://www.facebook.com/greg.howlett.56","type":"facebook"},{"id":349911254,"value":"https://www.flickr.com/people/150733341@N05","type":"flickr"},{"id":349911255,"value":"https://twitter.com/GregHowlett","type":"twitter"},{"id":349911253,"value":"https://about.me/greg.howlett","type":"aboutme"}]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/260118404/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/260118404/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/260118404/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/260118404/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/260118404"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/260118404/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/260118404/websites/"}}},{"id":260060078,"firstName":"Abe","lastName":"Kohen","gender":"Male","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/02.png","createdAt":"2019-06-02T02:35:46Z","updatedAt":"2019-06-02T02:35:46Z","background":"","_embedded":{"emails":[{"id":349839137,"value":"kohenabe@gmail.com","type":"work"}],"webs[...]
