---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

'
  recorded_at: Tue, 04 Jun 2019 16:38:39 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#54867645
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"threads":[{"id":<TEST_THREAD_ID>,"type":"chat","status":"active","state":"published","action":{"type":"default"},"body":"A
        test thread.","source":{"type":"api","via":"customer"},"customer":{"id":<TEST_CUSTOMER_ID>,"first":"Vernon","last":"Bear","photoUrl":"https://api.helpscout.net/img/some-avatar.jpg","email":"<TEST_CUSTOMER_EMAIL>"},"createdBy":{"id":<TEST_CUSTOMER_ID>,"type":"customer","first":"Vernon","last":"Bear","photoUrl":"https://api.helpscout.net/img/some-avatar.jpg","email":"<TEST_CUSTOMER_EMAIL>"},"to":[],"cc":[],"bcc":[],"createdAt":"2019-05-23T18:32:28Z","_embedded":{"attachments":[{"id":196635842,"filename":"file.txt","mimeType":"file/txt","width":0,"height":0,"size":69,"_links":{"data":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/attachments/196635842/data"},"self":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/attachments/196635842"},"web":{"href":"https://secure.helpscout.net/file/196635842/f04fcdb82bc0be33c543386288876fe15daed50a/file.txt"}}},{"id":196635663,"filename":"file.txt","mimeType":"file/txt","width":0,"height":0,"size":69,"_links":{"data":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/attachments/196635663/data"},"self":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/attachments/196635663"},"web":{"href":"https://secure.helpscout.net/file/196635663/f04fcdb82bc0be33c543386288876fe15daed50a/file.txt"}}}]},"_links":{"createdByCustomer":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"customer":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"}}}]},"_links":{"first":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/?page=1"},"last":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/?page=1"},"page":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/"},"self":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/"}},"page":{"size":50,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: Tue, 04 Jun 2019 16:38:39 GMT
recorded_with: VCR 5.0.0
