---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/<TEST_THREAD_ID>/attachments
    body:
      encoding: UTF-8
      string: '{"fileName":"file.txt","mimeType":"file/txt","data":"VGhpcyBpcyBhbiBhdHRhY2htZW50LgoKSXQgd2lsbCBiZSBhZGRlZCB0byBhIGNvbnZlcnNhdGlvbidzIHRocmVhZC4K"}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - caa9e666-fae6-40c6-bebd-bcac6578b13a#65704813
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '398'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 31 May 2019 05:04:03 GMT
recorded_with: VCR 5.0.0
