---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/<TEST_THREAD_ID>/attachments
    body:
      encoding: UTF-8
      string: '{"fileName":"file.txt","mimeType":"file/txt","data":"VGhpcyBpcyBhbiBhdHRhY2htZW50LgoKSXQgd2lsbCBiZSBhZGRlZCB0byBhIGNvbnZlcnNhdGlvbidzIHRocmVhZC4K"}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#768851
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '381'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 01 Jun 2019 00:17:11 GMT
recorded_with: VCR 5.0.0
