---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/2406997535/attachments
    body:
      encoding: UTF-8
      string: '{"fileName":"file.txt","mimeType":"file/txt","data":"VGhpcyBpcyBhbiBhdHRhY2htZW50LgoKSXQgd2lsbCBiZSBhZGRlZCB0byBhIGNvbnZlcnNhdGlvbidzIHRocmVhZC4K"}'
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#27499383
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '398'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 29 May 2019 17:45:04 GMT
recorded_with: VCR 4.0.0
