---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

        '
  recorded_at: Sun, 02 Jun 2019 13:47:17 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/users/<TEST_USER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#52197420
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '397'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_USER_ID>,"firstName":"Andre","lastName":"LeBlanc","email":"<TEST_CUSTOMER_EMAIL>","role":"user","timezone":"America/New_York","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/<TEST_USER_ID>.99795.jpg","createdAt":"2017-10-25T17:37:19Z","updatedAt":"2019-06-02T13:47:17Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/<TEST_USER_ID>"}}}'
  recorded_at: Sun, 02 Jun 2019 13:47:18 GMT
recorded_with: VCR 5.0.0
