---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/users/<TEST_USER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#769039
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '374'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_USER_ID>,"firstName":"Andre","lastName":"LeBlanc","email":"<TEST_CUSTOMER_EMAIL>","role":"user","timezone":"America/New_York","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/<TEST_USER_ID>.99795.jpg","createdAt":"2017-10-25T17:37:19Z","updatedAt":"2019-06-01T00:16:59Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/<TEST_USER_ID>"}}}'
  recorded_at: Sat, 01 Jun 2019 00:17:15 GMT
recorded_with: VCR 5.0.0
