---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#19038401
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"folders":[{"id":2963289,"name":"Unassigned","type":"open","userId":0,"totalCount":2,"activeCount":2,"updatedAt":"2019-05-23T18:37:56Z"},{"id":2963295,"name":"Mine","type":"mytickets","userId":<TEST_USER_ID>,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-23T18:36:54Z"},{"id":2963290,"name":"Needs
        Attention","type":"needs_attn","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-22T00:39:29Z"},{"id":2963291,"name":"Drafts","type":"drafts","userId":0,"totalCount":1,"activeCount":1,"updatedAt":"2019-05-23T18:37:56Z"},{"id":2963292,"name":"Assigned","type":"assigned","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-23T18:36:54Z"},{"id":2963294,"name":"Closed","type":"closed","userId":0,"totalCount":1,"activeCount":0,"updatedAt":"2019-05-22T00:43:01Z"},{"id":2963293,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-22T00:39:29Z"}]},"_links":{"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"}},"page":{"size":50,"totalElements":7,"totalPages":1,"number":1}}'
  recorded_at: Thu, 23 May 2019 19:07:48 GMT
recorded_with: VCR 4.0.0
