---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - a6ee3949-ec16-4b39-92bc-3600adc3f671#344020573
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '397'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"folders":[{"id":2963289,"name":"Unassigned","type":"open","userId":0,"totalCount":8,"activeCount":8,"updatedAt":"2019-05-23T07:54:32Z"},{"id":2963295,"name":"Mine","type":"mytickets","userId":<TEST_USER_ID>,"totalCount":2,"activeCount":2,"updatedAt":"2019-05-22T00:40:31Z"},{"id":2963290,"name":"Needs
        Attention","type":"needs_attn","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-22T00:39:29Z"},{"id":2963291,"name":"Drafts","type":"drafts","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-22T16:45:14Z"},{"id":2963292,"name":"Assigned","type":"assigned","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-22T00:39:29Z"},{"id":2963294,"name":"Closed","type":"closed","userId":0,"totalCount":1,"activeCount":0,"updatedAt":"2019-05-22T00:43:01Z"},{"id":2963293,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2019-05-22T00:39:29Z"}]},"_links":{"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"}},"page":{"size":50,"totalElements":7,"totalPages":1,"number":1}}'
  recorded_at: Thu, 23 May 2019 17:13:05 GMT
recorded_with: VCR 4.0.0
