---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#50457713
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '380'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"folders":[{"id":1675979,"name":"Unassigned","type":"open","userId":0,"totalCount":22,"activeCount":22,"updatedAt":"2019-06-01T00:16:59Z"},{"id":1677761,"name":"Mine","type":"mytickets","userId":<TEST_USER_ID>,"totalCount":2,"activeCount":0,"updatedAt":"2018-04-12T13:33:47Z"},{"id":1675980,"name":"Needs
        Attention","type":"needs_attn","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2017-12-05T20:53:56Z"},{"id":1675981,"name":"Drafts","type":"drafts","userId":0,"totalCount":12,"activeCount":12,"updatedAt":"2019-06-01T00:16:59Z"},{"id":1675982,"name":"Assigned","type":"assigned","userId":0,"totalCount":13,"activeCount":13,"updatedAt":"2019-05-16T14:45:32Z"},{"id":1675984,"name":"Closed","type":"closed","userId":0,"totalCount":86,"activeCount":0,"updatedAt":"2019-05-30T19:04:05Z"},{"id":1675983,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2017-10-30T18:36:04Z"},{"id":2373280,"name":"Dev
        Reporting and Filing","type":"team","userId":315683,"totalCount":0,"activeCount":0,"updatedAt":"2018-10-25T17:57:48Z"}]},"_links":{"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"}},"page":{"size":50,"totalElements":8,"totalPages":1,"number":1}}'
  recorded_at: Sat, 01 Jun 2019 00:17:11 GMT
recorded_with: VCR 5.0.0
