---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#39027745
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '389'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_CONVERSATION_ID>,"number":14,"threads":1,"type":"email","folderId":2963289,"status":"active","state":"published","subject":"!dlroW
        olleH","preview":"A test thread.","mailboxId":<TEST_MAILBOX_ID>,"createdBy":{"id":<TEST_CUSTOMER_ID>,"type":"customer","first":"Vernon","last":"Bear","photoUrl":"https://api.helpscout.net/img/some-avatar.jpg","email":"<TEST_CUSTOMER_EMAIL>"},"createdAt":"2019-05-23T18:32:28Z","closedBy":0,"userUpdatedAt":"2019-05-23T18:37:56Z","customerWaitingSince":{"time":"2019-05-23T18:32:28Z","friendly":"5
        min ago"},"source":{"type":"api","via":"customer"},"tags":[{"id":4742795,"color":"#A5B2BD","tag":"pro"},{"id":4742796,"color":"#A5B2BD","tag":"vip"}],"cc":[],"bcc":[],"primaryCustomer":{"id":<TEST_CUSTOMER_ID>,"type":"customer","first":"Vernon","last":"Bear","photoUrl":"https://api.helpscout.net/img/some-avatar.jpg","email":"<TEST_CUSTOMER_EMAIL>"},"customFields":[],"_links":{"closedBy":{"href":"https://api.helpscout.net/v2/users/0"},"createdByCustomer":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"self":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>"},"threads":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/"},"web":{"href":"https://secure.helpscout.net/conversation/<TEST_CONVERSATION_ID>/14"}}}'
  recorded_at: Thu, 23 May 2019 18:37:57 GMT
- request:
    method: put
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/tags
    body:
      encoding: UTF-8
      string: '{"tags":["initial_tag"]}'
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#39027752
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '387'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 May 2019 18:37:57 GMT
[...]
