---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#19038429
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '395'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_MAILBOX_ID>,"name":"SimpCo Support","slug":"97a4434ed14ec47b","email":"<TEST_USER_EMAIL>","createdAt":"2019-05-22T00:39:29Z","updatedAt":"2019-05-22T04:07:37Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"}}}'
  recorded_at: Thu, 23 May 2019 19:07:49 GMT
recorded_with: VCR 4.0.0
