---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

        '
  recorded_at: Sun, 02 Jun 2019 13:47:34 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#2543362
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '373'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_MAILBOX_ID>,"name":"Test Helpscout","slug":"fe5239d630f1cae7","email":"matt+helpscout@taxjar.com","createdAt":"2017-10-30T18:36:04Z","updatedAt":"2019-05-06T19:31:28Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"}}}'
  recorded_at: Sun, 02 Jun 2019 13:47:34 GMT
recorded_with: VCR 5.0.0
