---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":172800}

        '
  recorded_at: Tue, 15 Dec 2020 10:53:49 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers?query=(email:%22some.anonymous.123456@email.com%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json
      Correlation-Id:
      - d48066af-6189-4c30-952e-1f640af4530a#37772310
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '390'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"customers":[]},"_links":{"self":{"href":"https://api.helpscout.net/v2/customers?query=(email:\"some.anonymous.123456@email.com\")"},"first":{"href":"https://api.helpscout.net/v2/customers?query=(email:\"some.anonymous.123456@email.com\")&page=1"},"last":{"href":"https://api.helpscout.net/v2/customers?query=(email:\"some.anonymous.123456@email.com\")&page=1"},"page":{"href":"https://api.helpscout.net/v2/customers?query=(email:\"some.anonymous.123456@email.com\"){&page}","templated":true}},"page":{"size":50,"totalElements":0,"totalPages":0,"number":1}}'
  recorded_at: Tue, 15 Dec 2020 10:53:49 GMT
recorded_with: VCR 5.1.0
