---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations?mailbox=<TEST_MAILBOX_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#29361845
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '374'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"conversations":[{"id":866986355,"number":191580,"threads":1,"type":"email","folderId":1675979,"status":"active","state":"published","subject":"Hello
        World!","preview":"A test thread.","mailboxId":<TEST_MAILBOX_ID>,"createdBy":{"id":<TEST_CUSTOMER_ID>,"type":"customer","first":"Andre","last":"Leblanc","photoUrl":"https://secure.gravatar.com/avatar/8319f019fc608e7b550ce4852077b396","email":"<TEST_CUSTOMER_EMAIL>"},"createdAt":"2019-05-31T05:02:28Z","closedBy":0,"userUpdatedAt":"2019-05-31T05:02:28Z","customerWaitingSince":{"time":"2019-05-31T05:02:28Z","friendly":"1
        min ago"},"source":{"type":"api","via":"customer"},"tags":[],"cc":[],"bcc":[],"primaryCustomer":{"id":<TEST_CUSTOMER_ID>,"type":"customer","first":"Andre","last":"Leblanc","photoUrl":"https://secure.gravatar.com/avatar/8319f019fc608e7b550ce4852077b396","email":"<TEST_CUSTOMER_EMAIL>"},"customFields":[],"_links":{"closedBy":{"href":"https://api.helpscout.net/v2/users/0"},"createdByCustomer":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/<TEST_CUSTOMER_ID>"},"self":{"href":"https://api.helpscout.net/v2/conversations/866986355"},"threads":{"href":"https://api.helpscout.net/v2/conversations/866986355/threads/"},"web":{"href":"https://secure.helpscout.net/conversation/866986355/191580"}}},{"id":866973327,"number":191577,"threads":1,"type":"email","folderId":1675979,"status":"active","state":"published","subject":"Hello
        World!","preview":"A test thread.","mailboxId":<TEST_MAILBOX_ID>,"createdBy":{"id":<TEST_CUSTOMER_ID>,"type":"customer","first":"Andre","last":"Leblanc","photoUrl":"https://secure.gravatar.com/avatar/8319f019fc608e7b550ce4852077b396","email":"<TEST_CUSTOMER_EMAIL>"},"createdAt":"2019-05[...]
