---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#49445104
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '391'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_MAILBOX_ID>,"name":"Test Helpscout","slug":"fe5239d630f1cae7","email":"matt+helpscout@taxjar.com","createdAt":"2017-10-30T18:36:04Z","updatedAt":"2019-05-06T19:31:28Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"}}}'
  recorded_at: Fri, 31 May 2019 05:04:06 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - a6ee3949-ec16-4b39-92bc-3600adc3f671#354441028
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '390'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"folders":[{"id":1675979,"name":"Unassigned","type":"open","userId":0,"totalCount":20,"activeCount":20,"updatedAt":"2019-05-31T05:02:27Z"},{"id":1677761,"name":"Mine","type":"mytickets","userId":<TEST_USER_ID>,"totalCount":2,"activeCount":0,"updatedAt":"2018-04-12T13:33:47Z"},{"id":1675980,"name":"Needs
        Attention","type":"needs_attn","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2017-12-05T20:53:56Z"},{"id":1675981,"name":"Drafts","type":"drafts","userId":0,"totalCount":12,"activeCount":12,"updatedAt":"2019-05-31T04:22:26Z"},{"id":1675982,"name":"Assigned","type":"assigned","userId":0,"totalCount":13,"activeCount":13,"updatedAt":"2019-05-16T14:45:32Z"},{"id":1675984,"name":"Closed","type":"closed","userId":0,"totalCount":86,"activeCount":0,"updatedAt":"2019-05-30T19:04:05Z"},{"id":1675983,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"updatedAt":"2017-10-30T18:36:04Z"},{"id":2373280,"name":"Dev
        Reporting and Filing","type":"team","userId":315683,"totalCount":0,"activeCount":0,"updatedAt":"2018-10-25T17:57:48Z"}]},"_links":{"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"}},"page":{"size":50,"totalElements":8,"totalPages":1,"number":1}}'
  recorded_at: Fri, 31 May 2019 05:04:06 GMT
recorded_with: VCR 5.0.0
