---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#768511
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '389'
    body:
      encoding: UTF-8
      string: '{"id":<TEST_CONVERSATION_ID>,"number":91784,"threads":1,"type":"email","folderId":1675984,"status":"closed","state":"published","subject":"AutoFile
        Issue: Texas March 2018","preview":"Hi there,    Aya here, from the TaxJar
        Filing Team, with some information regarding your AutoFile return for Texas.    As
        our system prepared your data for filing, we noticed some of your transactions","mailboxId":<TEST_MAILBOX_ID>,"assignee":{"id":<TEST_USER_ID>,"type":"user","first":"Andre","last":"LeBlanc","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/<TEST_USER_ID>.99795.jpg","email":"<TEST_CUSTOMER_EMAIL>"},"createdBy":{"id":191154,"type":"user","first":"Alec","last":"Carper","email":"alec@taxjar.com"},"createdAt":"2018-04-06T18:43:13Z","closedBy":<TEST_USER_ID>,"closedAt":"2018-04-12T13:33:47Z","userUpdatedAt":"2019-05-31T05:04:12Z","customerWaitingSince":{"time":"2018-04-12T13:33:47Z","friendly":"Apr
        12, ''18"},"source":{"type":"api","via":"user"},"tags":[{"id":4771794,"color":"#A5B2BD","tag":"gat_laitini"},{"id":3067241,"color":"#A5B2BD","tag":"vip"},{"id":2313459,"color":"#E52F28","tag":"pro"},{"id":4771793,"color":"#A5B2BD","tag":"initial_tag"}],"cc":[],"bcc":[],"primaryCustomer":{"id":175406734,"type":"customer","first":"Andremleblanc","last":"","photoUrl":"https://img.fullcontact.com/static/3bb89005ef18614c492971ff4e27ca33_6fba8975179ac8937c9e86e51e4d5ca81af928bbdf6ab4e2e9c86396b2379952","email":"andre.leblanc88@gmail.com"},"customFields":[],"_links":{"assignee":{"href":"https://api.helpscout.net/v2/users/<TEST_USER_ID>"},"closedBy":{"href":"https://api.helpscout.net/v2/users/<TEST_USER_ID>"},"createdByUser":{"href":"https://api.helpscout.net/v2/users/191154"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/175406734"},"self":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>"},"threads":{"href":"https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/"},"web":{"href":"https://secure.helpscout.net/conversation/<TEST_CONVERSATION_ID>/91784"}}}'
  recorded_at: Sat, 01 Jun 2019 00:17:04 GMT
- request:
    method: patch
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>
    body:
      encoding: UTF-8
      string: '{"op":"replace","path":"/subject","value":"8102 hcraM saxeT :eussI
        eliFotuA"}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#50457234
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '388'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 01 Jun 2019 00:17:05 GMT
[...]
