---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#50457860
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '376'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"mailboxes":[{"id":108523,"name":"TaxJar Support","slug":"6fbb23940e98eba9","email":"support@taxjar.com","createdAt":"2017-04-28T16:19:27Z","updatedAt":"2019-05-28T14:55:41Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/108523/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/108523/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/108523"}}},{"id":<TEST_MAILBOX_ID>,"name":"Test
        Helpscout","slug":"fe5239d630f1cae7","email":"matt+helpscout@taxjar.com","createdAt":"2017-10-30T18:36:04Z","updatedAt":"2019-05-06T19:31:28Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"}}},{"id":136644,"name":"Product
        Engineering","slug":"bbe972489ef2fe50",[...]
