---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

        '
  recorded_at: Sun, 02 Jun 2019 13:47:36 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#2486960
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '370'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"mailboxes":[{"id":108523,"name":"TaxJar Support","slug":"6fbb23940e98eba9","email":"support@taxjar.com","createdAt":"2017-04-28T16:19:27Z","updatedAt":"2019-05-28T14:55:41Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/108523/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/108523/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/108523"}}},{"id":<TEST_MAILBOX_ID>,"name":"Test
        Helpscout","slug":"fe5239d630f1cae7","email":"matt+helpscout@taxjar.com","createdAt":"2017-10-30T18:36:04Z","updatedAt":"2019-05-06T19:31:28Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/<TEST_MAILBOX_ID>"}}},{"id":136644,"name":"Product
        Engineering","slug":"bbe972489ef2fe50",[...]
