---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations
    body:
      encoding: UTF-8
      string: '{"type":"email","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"subject":"Hello
        World!","mailboxId":"<TEST_MAILBOX_ID>","status":"active","threads":[{"type":"chat","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"text":"A
        test thread."}]}'
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#19006666
      Location:
      - https://api.helpscout.net/v2/conversations/861079566
      Resource-Id:
      - '861079566'
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '394'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 May 2019 18:37:56 GMT
recorded_with: VCR 4.0.0
