---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

        '
  recorded_at: Sun, 02 Jun 2019 13:47:20 GMT
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations
    body:
      encoding: UTF-8
      string: '{"type":"email","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"subject":"Hello
        World!","mailboxId":"<TEST_MAILBOX_ID>","status":"active","threads":[{"type":"chat","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"text":"A
        test thread."}]}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#52197468
      Location:
      - https://api.helpscout.net/v2/conversations/868570854
      Resource-Id:
      - '868570854'
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '395'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 02 Jun 2019 13:47:21 GMT
recorded_with: VCR 5.0.0
