---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

        '
  recorded_at: Sat, 01 Jun 2019 00:16:57 GMT
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations
    body:
      encoding: UTF-8
      string: '{"type":"email","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"subject":"Hello
        World!","mailboxId":"<TEST_MAILBOX_ID>","status":"active","threads":[{"type":"chat","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"text":"A
        test thread."}]}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#30344787
      Location:
      - https://api.helpscout.net/v2/conversations/867773453
      Resource-Id:
      - '867773453'
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '397'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 01 Jun 2019 00:16:59 GMT
recorded_with: VCR 5.0.0
