---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations
    body:
      encoding: UTF-8
      string: '{"type":"email","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"subject":"Hello
        World!","mailboxId":"<TEST_MAILBOX_ID>","status":"active","threads":[{"type":"chat","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"text":"A
        test thread."}]}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - caa9e666-fae6-40c6-bebd-bcac6578b13a#65705223
      Location:
      - https://api.helpscout.net/v2/conversations/866986799
      Resource-Id:
      - '866986799'
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '372'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 31 May 2019 05:04:11 GMT
recorded_with: VCR 5.0.0
