---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#49445028
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '396'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"users":[{"id":323055,"firstName":"Aaron","lastName":"McNeal","email":"aaron.mcneal@taxjar.com","role":"user","timezone":"America/Chicago","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/323055.151085.jpg","createdAt":"2018-11-01T19:51:42Z","updatedAt":"2019-05-30T23:07:22Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/323055"}}},{"id":190987,"firstName":"Aisha","lastName":"Ford","email":"aisha@taxjar.com","role":"admin","timezone":"America/Chicago","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/190987.98112.png","createdAt":"2017-04-27T21:11:13Z","updatedAt":"2019-05-27T16:41:34Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/190987"}}},{"id":191154,"firstName":"Alec","lastName":"Carper","email":"alec@taxjar.com","role":"user","timezone[...]
