---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELPSCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - a6ee3949-ec16-4b39-92bc-3600adc3f671#344020541
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"users":[{"id":<TEST_USER_ID>,"firstName":"Test","lastName":"User","email":"<TEST_USER_EMAIL>","role":"owner","timezone":"UTC","createdAt":"2019-05-22T00:37:43Z","updatedAt":"2019-05-23T17:13:04Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/<TEST_USER_ID>"}}}]},"_links":{"first":{"href":"https://api.helpscout.net/v2/users/?page=1"},"last":{"href":"https://api.helpscout.net/v2/users/?page=1"},"page":{"href":"https://api.helpscout.net/v2/users/"},"self":{"href":"https://api.helpscout.net/v2/users/"}},"page":{"size":50,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: Thu, 23 May 2019 17:13:04 GMT
recorded_with: VCR 4.0.0
