---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELPSCOUT_APP_ID>","client_secret":"<HELPSCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELPSCOUT_ACCESS_TOKEN>","expires_in":7200}

'
  recorded_at: Wed, 29 May 2019 17:56:07 GMT
recorded_with: VCR 4.0.0
