---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<HELP_SCOUT_APP_ID>","client_secret":"<HELP_SCOUT_APP_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<HELP_SCOUT_ACCESS_TOKEN>","expires_in":7200}

'
  recorded_at: Tue, 16 Jul 2019 19:22:21 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-Id:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#62331367
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"threads":[{"id":2535529292,"type":"note","status":"active","state":"published","action":{"type":"default"},"body":"Hello,
        note!","source":{"type":"api","via":"user"},"customer":{"id":268319927,"first":"Paul","last":"Simpson","photoUrl":"https://img.fullcontact.com/static/664fc3306cc6eb7ce5b55611d0ebcc42_6f8d7e4a9b7e4fd8726bca36132bf21572a5238b93e89d79dd63d3a55da7fcc8","email":"paul@taxjar.com"},"createdBy":{"id":378608,"type":"user","first":"Paul","last":"Simpson","email":"paul@simpsonconsulting.ltd"},"assignedTo":{"id":1,"first":"Help","last":"Scout","email":"none@nowhere.com"},"to":[],"cc":[],"bcc":[],"createdAt":"2019-07-16T19:19:32Z","_embedded":{"attachments":[]},"_links":{"assignedTo":{"href":"https://api.helpscout.net/v2/users/1"},"createdByUser":{"href":"https://api.helpscout.net/v2/users/378608"},"customer":{"href":"https://api.helpscout.net/v2/customers/268319927"}}},{"id":2535524362,"type":"note","status":"active","state":"published","action":{"type":"default"},"body":"Hello,
        note!","source":{"type":"api","via":"user"},"customer":{"id":268319927,"first":"Paul","last":"Simpson","photoUrl":"https://img.fullcontact.com/static/664fc3306cc6eb7ce5b55611d0ebcc42_6f8d7e4a9b7e4fd8726bca36132bf21572a5238b93e89d79dd63d3a55da7fcc8","emai[...]
- request:
    method: patch
    uri: https://api.helpscout.net/v2/conversations/<TEST_CONVERSATION_ID>/threads/<TEST_THREAD_ID>
    body:
      encoding: UTF-8
      string: '{"op":"replace","path":"/text","value":"This is a dummy thread."}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-Id:
      - ec159308-58f3-42b7-827a-2788227a7d8c#91975436
      X-Ratelimit-Limit-Minute:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '398'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jul 2019 19:22:21 GMT
[...]
