---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations
    body:
      encoding: UTF-8
      string: '{"type":"email","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"subject":"Hello
        World!","mailboxId":"<TEST_MAILBOX_ID>","status":"active","threads":[{"type":"chat","customer":{"email":"<TEST_CUSTOMER_EMAIL>"},"text":"A
        test thread."}]}'
    headers:
      Authorization:
      - Bearer <HELP_SCOUT_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="service" error="invalid_token" error_description="The access
        token is invalid or has expired"
    body:
      encoding: UTF-8
      string: '{"error_description":"The access token is invalid or has expired","error":"invalid_token"}

        '
  recorded_at: Thu, 30 May 2019 03:53:39 GMT
recorded_with: VCR 4.0.0
